#contact {
  padding: 6rem 0;
  position: relative;
}
.form-group {
  margin: 30px 0;
}
.message {
  padding: 1em 2.5em 7.5em !important;
  height: 150px;
  line-height: 1.5;
  font-size: 1rem;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 75%;
}
.email__mess {
  align-items: center;
  justify-content: center;
}
.card h1 {
  text-align: center;
}

.contact__name span input {
  border-radius: 20px;
  padding: 10px 30px;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.contact__email span input {
  border-radius: 20px;
  padding: 10px 30px;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
}
.form-control {
  width: 85%;
  border-radius: 30px;
  padding: 0px 25px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.user i {
  position: absolute;
  left: 30;
  /* bottom: 15px; */
  top: 16.5%;
  z-index: 3;
  left: 7%;
  font-size: 10px;
  color: $color-about-us;
}
.enve i {
  position: absolute;
  top: 16.4%;
  right: 46%;
  z-index: 3;
  font-size: 13px;
  color: $color-about-us;
}
.contact__left {
  @include tagImg();
}

.contact__right {
  position: relative;
  z-index: 5;
}
.contact__button {
  padding: 4rem 0;
}
.button__send {
  padding: 1rem 4rem;
  border: none;
  border-radius: 30px;
  font-family: cursive;
  font-weight: 600;
  background-color: $color-about-us;
  color: $color-white-1;
}
.icon__english i {
  position: absolute;
  top: 29%;
  left: 8%;
  font-size: 13px;
  color: $color-about-us;
}
.icon__mess i {
  position: absolute;
  top: 42%;
  font-size: 13px;
  left: 9%;
  color: $color-about-us;
}
.card__contact {
  box-shadow: 5px 5px 4px 5px grey;
  border-radius: 20px;
}
.contact__bot {
  @include bgTopBot(absolute);
  bottom: 0;
  img {
    @include tagImg();
  }
}
