#footer {
  background-image: url(./../../images/footer_background.jpg);
  @include styleBgImg();
  padding: 7em 0 9em 0;
}
.footer__content {
  display: flex;
  color: $color-white-1;
  font-family: cursive;
  line-height: 3;
  font-size: 14px;
}
.double__button {
  display: grid;
  gap: 5px 0;
}
.icon__footer i {
  font-size: 14px;
  margin-right: 10px;
}
.col-md-3 {
  ul {
    list-style: none;
    li {
      border-bottom: 1px solid #0000001a;
    }
  }
}
.button__email {
  background-color: transparent;
  border-radius: 30px;
  border: 1px solid #0000001a;
}
.button__sub {
  background-color: white;
  border-radius: 30px;
  border: 1px solid #0000001a;
}
