.header__menu {
  position: relative;
  z-index: 2;
  padding: 20px 0;
}
.logo {
  position: absolute;
  order: 0;
  top: 0;
  left: 0;
}
.crest {
  object-fit: cover;
  width: 80px;
}
.nav-item {
  padding-right: $pd-4;
  .nav-link {
    @include styleNavLink($color-dark-2, $fs-2, $fw-3);
    padding-right: 40px;
    &::after {
      content: "";
      width: 0;
      display: block;
      height: 2px;
      transition: all 1s;
    }
    &:hover {
      color: $color-about-us !important;
      &::after {
        background-color: $color-about-us;
        width: 100%;
      }
    }
  }
}
.button__1 {
  border: none;
  border-radius: 30px;
  height: 45px;
  background-color: $bg-color-1;
  box-shadow: 0 0 0 3em #b61984 inset;
  color: $color-white-1;
  width: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $fs-3;
  font-weight: $fw-3;

  i {
    font-size: $fs-1;
    padding-right: 5px;
  }
}
.call__phone {
  padding: 10px;
}

.icon {
  padding-left: $pd-1;
  a {
    text-decoration: none;
    color: black;
    padding-left: 10px;
    i {
      font-size: 13px;
    }
  }
}
