@mixin bgTopBot($posi) {
  position: $posi;
  left: 0;
  pointer-events: none;
  right: 0;
}
@mixin styleNavLink($color, $fs, $fw) {
  color: $color;
  font-size: $fs;
  font-weight: $fw;
}
@mixin tagImg() {
  width: 100%;
  height: auto;
  display: block;
  user-select: none;
  object-fit: cover;
}
@mixin styleBgImg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
@mixin styleBut($bcl) {
  background-color: $bcl;
  border-radius: 30px;
  border: 1px solid rgb(125, 124, 124);
}
